@import url('https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: hsl(226, 43%, 10%);
}

.bg-card-dark {
  background: hsl(235, 46%, 20%);
}

.content:hover {
  cursor: pointer;
  background: hsl(237, 35%, 35%);
}

.bg-card-light {
  background: hsl(246, 80%, 60%);
}

.person-details p {
  color: hsl(236, 100%, 87%);
}

.menu {
  color: hsl(235, 45%, 61%);
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.menu:hover {
  color: hsl(246, 80%, 60%);
}

.active {
  color: white;
}

.Work,
.Play,
.Study,
.Exercise,
.Social,
.SelfCare {
  padding-top: 2rem;
  border-radius: 1rem;
}

.Work {
  background: url(./images/icon-work.svg), hsl(15, 100%, 70%);
  background-size: 22%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 95% -15%, center;
}

.Play {
  background: url(./images/icon-play.svg), hsl(195, 74%, 62%);
  background-size: 22%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 95% -15%, center;
}

.Study {
  background: url(./images/icon-study.svg), hsl(348, 100%, 68%);
  background-size: 22%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 95% -15%, center;
}

.Exercise {
  background: url(./images/icon-exercise.svg), hsl(145, 58%, 55%);
  background-size: 22%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 95% -15%, center;
}

.Social {
  background: url(./images/icon-social.svg), hsl(264, 64%, 52%);
  background-size: 22%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 95% -15%, center;
}

.SelfCare {
  background: url(./images/icon-self-care.svg), hsl(43, 84%, 65%);
  background-size: 22%, 100%;
  background-repeat: no-repeat, no-repeat;
  background-position: 95% -15%, center;
}

.head h2,
.times h1 {
  color: white;
}

.times p {
  color: hsl(236, 100%, 87%);
  font-weight: 300;
}
